<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %>! Quelqu'un a rejoint ton évènement ! !</h1>
    <p>
      Pour plus d'informations, connecte toi à ton espace client via : <%= @url %>.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>