<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Eventbrite</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <%= link_to "Accueil", root_path, class:"nav-link btn btn-light" %>
      <p><%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link btn btn-light" %></p>
      <%= link_to "Sign up", new_user_registration_path, class:'nav-link btn btn-light' %>
      <%= link_to "Log in", new_user_session_path, class:"nav-link btn btn-light" %>
    
      
    </div>
  </div>
</nav>